{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "react/react-in-jsx-scope": 0,
    "react/jsx-filename-extension": 0,
    "no-tabs": 0,
    "jsx-quotes": ["warn", "prefer-single"],
    "import/extensions": ["2", "never", { "css": "always", "scss": "always" }],
    "indent": ["2", "tabs"]
  }
}