@mixin flex($justify: flex-start, $align: flex-start, $flow: row wrap) {
  display: flex;
  flex-flow: $flow;
  justify-content: $justify;
  align-items: $align;
}

@mixin mobile {
  @media screen and (max-width: 375px) {
    @content;
  }
}

@mixin mobile-landscape {
  @media screen and (orientation: landscape) and (max-height: 375px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 720px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1280px) {
    @content;
  }
}

@mixin hd {
  @media screen and (min-width: 1440px) {
    @content;
  }
}